// primary colors
$prim1: #132734;  // darkcyan
$prim2: #fd2767;  // magenta pink red #iambadwithcolors
$prim3: #ffffff;  // anti-black
$prim4: #89949c;  // grey-y
$prim5: #5039de;  // leela
$prim6: #0ac375;  // green goo
$prim7: #0b1923;  // darkblue

// colorsets
$bgColor: $prim1; // darkcyan

// Fonts

// sizes
$maxWidth: 1040px;
