.header {
    padding-top: 4rem;

    &__logo {
        padding: 2rem 0 3rem;
    }

    h1 {
        margin-top: 0;
    }
}

#bubbles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(10px);
}
