@import url(../../bower_components/normalize-css/normalize.css);
html *,
html *::before,
html *::after {
  box-sizing: border-box; }

body {
  background: #132734;
  font-size: 62.5%; }

main, header, footer {
  max-width: 1040px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto; }

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-family: "brandon-grotesque";
  font-weight: 600; }

h1, .alpha {
  color: #ffffff;
  font-size: 3.6rem; }
  h1 span, .alpha span {
    color: #fd2767; }

h2, .beta {
  color: #fd2767;
  font-size: 1.8rem;
  font-weight: 500; }

h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff; }

p {
  color: #89949c;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "brandon-grotesque";
  font-weight: 400; }
  .text--large p {
    font-size: 2.4rem;
    line-height: 1.3; }

input,
textarea {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "brandon-grotesque";
  color: #89949c; }

.uniform__potty {
  position: absolute;
  top: -9999px;
  left: -9999px; }

button,
input,
select,
textarea {
  margin: 0; }

button,
input,
select {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

[disabled] {
  cursor: default; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

.header {
  padding-top: 4rem; }
  .header__logo {
    padding: 2rem 0 3rem; }
  .header h1 {
    margin-top: 0; }

.members {
  padding: 3rem 0; }
  .members__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .members__intro, .members__headline {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }

.member {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 2rem; }
  @media screen and (min-width: 768px) {
    .member {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; } }
  .member img {
    border-radius: 50%;
    display: block;
    padding-right: 1rem;
    vertical-align: top;
    max-width: 30%;
    margin-bottom: .5rem; }
    @media screen and (min-width: 768px) {
      .member img {
        display: inline-block; } }
  .member__inner {
    display: inline-block;
    width: 100%; }
    .member__inner h3 {
      font-size: 1.2rem;
      color: #ffffff;
      display: inline-block;
      margin: 0; }
    .member__inner p {
      color: #89949c;
      font-size: 1.2rem;
      display: inline; }
    @media screen and (min-width: 768px) {
      .member__inner {
        width: 69%; } }
  .member__tags {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0; }
    .member__tags > li {
      color: #ffffff;
      display: inline-block;
      font-size: 1rem;
      padding: 0.2rem 0.7rem;
      margin: 0 .5rem .5rem 0;
      border-radius: 1rem; }
      .member__tags > li:nth-child(2n+1) {
        background: #0ac375; }
      .member__tags > li:nth-child(2n+0) {
        background: #5039de; }

.contact {
  padding: 3rem 0;
  padding-top: 0; }

__headline {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  form label {
    display: none; }
  form input,
  form textarea {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 0;
    background-color: #0b1923; }
  @media screen and (min-width: 768px) {
    form input {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 calc(50% - 0.5rem);
          -ms-flex: 0 1 calc(50% - 0.5rem);
              flex: 0 1 calc(50% - 0.5rem); } }
  form textarea {
    height: 15rem; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #304858; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #304858;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #304858;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #304858; }
